<div class="row">
  <div class="col-md-8">
    <h4>Cadastro de usuários</h4>

    <% if can? :create, AdminWeb::User %>
      <div class="row">
        <div class="col-md-12"><%= link_to 'Novo', new_user_path, class: 'btn btn-primary link-new' %></div>
      </div>
    <% end %>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Email</td>
            <td>Criado em</td>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= link_to user.email, edit_user_path(user) %></td>
              <td><%= I18n.l user.created_at, format: :only_date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4 box">
    <h4>Pesquisa</h4>
  </div>
</div>
