<div class="row">
  <div class="col-md-8">
    <h4>Cadastro de vídeos</h4>

    <% if can? :create, AdminWeb::Video %>
      <div class="row">
        <div class="col-md-12"><%= link_to 'Novo', new_video_path, class: 'btn btn-primary link-new' %></div>
      </div>
    <% end %>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Descrição</td>
            <td>Link</td>
            <td>Criado em</td>
          </tr>
        </thead>

        <tbody>
          <% @videos.each do |video| %>
            <tr>
              <td><%= link_to video.description, edit_video_path(video) %></td>
              <td><%= video.link %></td>
              <td><%= I18n.l video.created_at, format: :only_date %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-4 box">
    <h4>Pesquisa</h4>
  </div>
</div>
